# Versions
WAL_G_IMAGE=alacsistemas/wal-g:1.0.1
BROTLI_VERSION=1.1.0
WALG_VERSION=3.0.7
# Database for backup
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
# S3 backup storage
S3_PREFIX=s3://mybucket/wal-g-backups
S3_HOST=http://127.0.0.1:9000
S3_USER=minioadmin
S3_PASS=minioadmin
AWS_REGION=ru-central-1
# Default backup type
BACKUP_TYPE=ince
# Restore data after postgres container stop only!
INCR_BACKUP_TEXT="Incremental backup is in progress"
FULL_BACKUP_TEXT="Full backup is in progress"
RESTORE_PROGRESS="Restoring from backup"
RESTORE_COMPLETE="Recovery completed. Data saved to"
WALG_FILE_PREFIX="file:///var/lib/wal-g/backups"
RESTORE_BACKUP_NAME=base_0000000100000000000000A5
# Git user and mail
git_user=<git_username>
git_mail=<git_email>
